
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff
  font-family Arial, sans-serif;
}

.logo-card {
  background: #fff;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-card:hover {
  transform: scale(1.05);
}

.logo-img {
  width: 350px; 
  display: block;
}

.figur {
  position: absolute;
  top: -200px;
  width: 120px;
  opacity: 0.7; 
  pointer-events: none; 
}

.fall {
  animation: fallRotate 5s linear infinite;
}

@keyframes fallRotate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

h1 {
  font-family: 'Baloo 2', cursive;
  text-align: center;
  background-color: #ffeaf5;
  color: #ff4fa3;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(255, 79, 163, 0.3);
  display: inline-block;
  margin: 30px auto;
  font-size: 48px;
  letter-spacing: 2px;
}

.card-link{
  text-decoration: none;
  color: inherit;
}

.card {
  width: 280px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 170px;      /* PAKSA TINGGI SAMA */
  object-fit: cover;  /* Biar gambar rapi, ga gepeng */
  display: block;
}

.series {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 60px 80px;
}

.series img {
    width: 350px;
    border-radius: 20px;
}

.series-text {
    max-width: 600px;
}

.series-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.series-text p {
    font-size: 18px;
    line-height: 1.6;
}

img {
  width: auto;
  height: auto;
}

.card {
    position: relative;
    overflow: hidden;
}

/* default overlay mati */
.overlay {
    display: none;
}

/* overlay cuma hidup kalau card coming-soon */
.cardsoon .overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: bold;
    color: #444;

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff
  font-family Arial, sans-serif;
}

.logo-card {
  background: #fff;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo-card:hover {
  transform: scale(1.05);
}

.logo-img {
  width: 350px; 
  display: block;
}

.figur {
  position: absolute;
  top: -200px;
  width: 120px;
  opacity: 0.7; 
  pointer-events: none; 
}

.fall {
  animation: fallRotate 5s linear infinite;
}

@keyframes fallRotate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
    opacity: 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

h1 {
  font-family: 'Baloo 2', cursive;
  text-align: center;
  background-color: #ffeaf5;
  color: #ff4fa3;
  padding: 15px 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(255, 79, 163, 0.3);
  display: inline-block;
  margin: 30px auto;
  font-size: 48px;
  letter-spacing: 2px;
}

.card-link{
  text-decoration: none;
  color: inherit;
}

.card {
  width: 280px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 170px;      /* PAKSA TINGGI SAMA */
  object-fit: cover;  /* Biar gambar rapi, ga gepeng */
  display: block;
}

.series {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 60px 80px;
}

.series img {
    width: 350px;
    border-radius: 20px;
}

.series-text {
    max-width: 600px;
}

.series-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.series-text p {
    font-size: 18px;
    line-height: 1.6;
}

img {
  width: auto;
  height: auto;
}

.card {
    position: relative;
    overflow: hidden;
}

/* default overlay mati */
.overlay {
    display: none;
}

/* overlay cuma hidup kalau card coming-soon */
.cardsoon .overlay {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255,255,255,0.7);
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: bold;
    color: #444;

}